body,
html,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'Bakbak One', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  overflow-y: auto;
  height: 100%;
}

/* .makeStyles-paper-11, */
/* .makeStyles-paper-11 h2, */
/* .MuiTypography-body1,
.MuiPaper-root, */
h2 {
  color: white !important;
}

body {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bakbak One', cursive !important;
  text-transform: uppercase;
  color: white;
}

.MuiToolbar-regular {
  color: #e0e3bd;
}

.MuiButton-containedPrimary,
.MuiButton-containedPrimary:hover,
.MuiListItem-button:hover,
.MuiButtonBase-root:hover {
  color: #fff !important;
}

code {
  font-family: 'Bakbak One', monospace;
}

.wallet-button {
  color: white;
  font-family: 'Bakbak One', sans-serif !important;
  font-size: 1.2rem !important;
  text-align: left !important;
  justify-content: flex-start !important;
  text-transform: none !important;
}
.wallet-button:hover {
  color: #f9d749 !important;
}

.navLink {
  color: white !important;
}

.navLink:hover {
  color: #f9d749 !important;
}

.shinyButton {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 48px!important;

  border-radius: 15px;
  font-size: 1rem !important;
  padding-left: 5px;
  color: #f9d749 !important;
  box-shadow: 0px 0px 5px 0px rgba(251, 221, 76, 1);
}

.shinyButtonGreen {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 15px;
  font-size: 1rem !important;
  padding-left: 5px;
  color: #00ff00 !important;
  box-shadow: 0px 0px 5px 0px rgb(0, 255, 0);
}

.shinyButtonDisabled {
  padding: 12px 24px!important;
  font-size: 18px !important;
  line-height: 24px;
  height: 48px;

  background-color: white !important;
  opacity: 0.3;
  color: #141B22 !important;
  border-radius: 0px !important;
}

.shinyButton:hover {
  background-color: #f9d749 !important;
  color: #171923 !important;
}

.shinyButtonPrimary {
  padding: 12px 24px!important;
  gap: 8px;
  font-size: 18px !important;
  line-height: 24px;
  height: 48px;
  background-color: #21E786 !important;
  color: #141B22 !important;
  border-radius: 0px !important;
  /* box-shadow: 0px 0px 5px 0px rgba(251,221,76,1); */
}

.shinyButtonPrimary:hover {
  background-color: #21E786 !important;
  color: #141B22 !important;
  border-radius: 0px !important;
}

.shinyButtonSecondary {
  padding: 12px 24px!important;
  gap: 8px;
  font-size: 18px !important;
  line-height: 24px;
  height: 48px;
  border: 2px solid #21E786 !important;
  background-color: transparent !important;
  color: white !important;
  border-radius: 0px !important;
  /* box-shadow: 0px 0px 5px 0px rgba(251,221,76,1); */
}

.shinyButtonSecondary:hover {
  background-color: #21E786 !important;
  color: #141B22 !important;
  border-radius: 0px !important;
}

.account {
  display: flex;
  align-items: center;
}

.account > img,
.account > div {
  margin-right: 8px;
}

.shinyButtonDisabledSecondary {
  border-radius: 15px;

  color: grey !important;
  box-shadow: 0px 0px 5px 0px grey;
}

.navTokenPrice {
  padding-top: 5px;
  padding-right: 15px;
  color: #fff;
}

.navTokenIcon {
  height: 30px !important;
  width: 30px !important;
  padding-right: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}

/* nav dropdown */
.nav-dropdown {
  display: inline-block;
}

.nav-dropdown-mobile {
  display: block;
  width: 100%;
}

.nav-dropdown-mobile>div {
  position: initial !important;
  transform: none !important;
}

.nav-dropdown-mobile #composition-button,
.nav-dropdown-mobile #composition-button1 {
  padding: 0;
  width: 100%;
  justify-content: space-between;
}